@import "../fonts/fonts";

.header {
&_container {
  height: 345px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  &_nav {
    display: flex;
    align-items: center;
    height: 60px;
    width: auto;
  }

  &_logo {
    background-image: url("./logo.svg");
    width: 40px;
    height: 40px;
    margin-left: 27px;
  }

  &_text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    color: #202329;
    text-align: center;
    font-family: 'Roboto Black', sans-serif;
    font-size: 101.25px;
    font-style: normal;
    font-weight: 900;
    line-height: 111.375px;
    z-index: 2;
    transform: translateY(100%);
  }

  &_background {
    display: flex;
    justify-content: center;
    align-items: baseline;
    transform: translateY(-33%);

    &_rick {
      background-image: url("../../../public/rick.svg");
      width: 213px;
      height: 344px;
      flex-shrink: 0;
      fill: #F5F5F5;

      &__hand {
        background-image: url("../../../public/hand.svg");
        width: 62px;
        height: 105px;
        flex-shrink: 0;
        transform: translateX(-125%);
      }
    }

    &_morty {
      background-image: url("../../../public/morty.svg");
      width: 170px;
      height: 211px;
      flex-shrink: 0;
      fill: #F5F5F5;
      transform: translateX(-57%);
      z-index: -1;
    }
  }
}



