.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 393px;
  background: #202329;

  &_text {
    padding-top: 47px;
    color: #9E9E9E;
    text-align: center;
    font-family: Roboto;
    font-size: 13.5px;
    font-style: normal;
    font-weight: 700;
    line-height: 21.938px; /* 162.5% */
    text-transform: uppercase;
  }

  &_ellipse {
  background-image: url("../../../public/Ellipse.svg");
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100px 100px;
    background-position: center;
  }


  &_image {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-image: url("../../../public/logo_footer.png");
    background-size: 50px 50px;
    background-repeat: no-repeat;
  }

  &_links {
    padding-top: 40px;
    gap: 27px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;

    &_git {
      height: 18px;
      width: 18px;
      background-image: url("../../../public/git.svg");
      background-repeat: no-repeat;
    }

    &_twitter {
      height: 15px;
      width: 18px;
      background-image: url("../../../public/twi.svg");
      background-repeat: no-repeat;
    }

    &_like {
      height: 15px;
      width: 17px;
      background-repeat: no-repeat;
      background-image: url("../../../public/like.svg");
    }
  }

  &_year {
    padding-top: 33px;
    color: #9E9E9E;
    font-family: Roboto;
    font-size: 12.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.938px; /* 175.5% */
  }
}